<<levo filename:binary.template directory:levo_gen/subdir>>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent risus nunc, pellentesque sed nibh quis, egestas iaculis augue. Sed pellentesque est et felis iaculis, a hendrerit magna fermentum. Ut non nisi lacus. Nunc adipiscing urna diam, sollicitudin pulvinar lorem tempor ac. Nunc condimentum enim non nisl sagittis, blandit tempor tortor hendrerit. Sed pellentesque eros at enim bibendum gravida in non dolor. Nunc semper odio non ipsum facilisis placerat vitae sed urna. Curabitur ac nisl orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sed felis orci.
<<levo>>
